{% extends 'base.html' %}
{% block title %}Invoice PDF{% endblock title %}
{% block content %}
<div class="container mt-20">
  <h1 class="text-purple-600 text-center py-4 font-bold text-4xl">Invoice Detail</h1>
    <div class="max-w-4xl mx-auto">
        <div class="mb-2">
            <span class="block font-medium text-base">Invoice: {{ object.invoice_id }}</span>
            <span class="block font-medium text-base">Name: {{ object.client_name }}</span>
            <span class="block font-medium text-base">Phone number: {{ object.client_phone_number }}</span>
            <span class="block font-medium text-base">Address: {{ object.client_address }}</span>
            <span class="block font-medium text-base">Status: {{ object.status }}</span>
        </div>
      <div class="overflow-x-auto relative">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Invoice
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Order ID
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Order Service
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for obj in object.invoice_items.all %}
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                      <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          {{ obj.invoice }}
                      </th>
                      <td class="py-4 px-6">
                          {{ obj.order_id }}
                      </td>
                      <td class="py-4 px-6">
                          {{ obj.order_service }}
                      </td>
                      <td class="py-4 px-6">
                          {{ obj.order_quantity }}
                      </td>
                  </tr>
                {% endfor %}

            </tbody>
        </table>
      </div>
        <div class="mt-5">
            <a href="{% url 'invoice-download' pk=object.pk %}" class="py-3 px-8 bg-purple-600 text-white font-bold rounded">Download</a>
        </div>
    </div>
</div>
{% endblock content %}